

<h1 style="color: navy;text-align: center;"><u>About Me</u></h1>
<h3 style="text-align: center;color: powderblue;">"You can't buy happiness, but you can buy ice cream, and that is pretty much the same thing."
<br>"No, I was just good at holding ice cream cones." — Mitch Hedberg<br>
<br>"I scream. You scream. We all scream for ice cream." — "Ice Cream"<br>
<br>"Life is like an ice cream: Enjoy it before it melts."<br>
<br>"Never ask a woman who is eating ice cream straight from the carton how she's doing."<br>
<br>"The cold never bothered me anyway." — Frozen, "Let It Go"<br>

</h3>