<form  (ngSubmit)=submit(loginform)>
    <h1 style="text-align: center;border: black; background-color: gainsboro; color: brown;">Login Form</h1>
   <div style=" align-items: center;"> 
    <label>Email</label>
    <br>
    <input type="email" name="uname" placeholder="Enter Email" formControlName="email">
    <br>
    <br>

    <label>Password</label>
    <br>
    <input type="password" name="Password" placeholder="Enter Password" formControlName="password">
    <br>
    <br>

    <button>Submit</button>
    </div>
</form>
